@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&family=Poppins&family=Tangerine:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    position: relative;
    width: 350px;
    height: 85px;
    background-color: #398c00;
    border-radius: 20px;
    filter: drop-shadow(-20px 20px 40px #398c0055);
    transition: 0.5s ease-in-out;
}

.card.active{
    height: 420px;
}

.card .contentBox{
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.card .contentBox .content{
    position: relative;
    padding: 20px;
    text-align: center;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .contentBox .content h2{
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.1em;
}

.card .contentBox .content h2 span{
    font-size: 0.75em;
    font-weight: 400;
    text-transform: initial;
}

.card .contentBox .content .imgBox{
    position: relative;
    width: 250px;
    height: 250px;
    background: #fff;
    margin-top: 20px;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.15);
    border: 5px solid #fff;
}

.card .contentBox .content .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .contentBox .content button{
    position: relative;
    margin-top: 20px;
    padding: 10px 35px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.15);
}

.toggle{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 60px;
    background: #398c00;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
}

.toggle::before{
    content: '';
    position: absolute;
    left: -34px;
    width: 35px;
    height: 35px;
    background: transparent;
    border-top-right-radius: 35px;
    box-shadow: 11px -10px 0 10px #398c00;
}

.toggle::after{
    content: '';
    position: absolute;
    right: -34px;
    width: 35px;
    height: 35px;
    background: transparent;
    border-top-left-radius: 35px;
    box-shadow: -11px -10px 0 10px #398c00;
}

.toggle span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: 0.5s ease-in-out;
}

.card.active .toggle span{
    transform: translate(-50%,-70%) rotate(-135deg);
}